* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: aliceblue;
    height: 60px;

}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 10px;
    padding-left: 60px;
    margin-top: 10px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
}

.deal nav {
    width: 1536px;
height: 255.65px;
}

.jordans{
    height: 253px;
    display: flex;
    display: block;
    
    /* min-height: calc(300px - 735px - 60px -60px);
    padding-left: px;
    margin: 10px; */
}

footer {
   margin-top: 740px;
   background-color: black;
   height: 60px;
   color: aliceblue;
    
}